<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>question decription</title>
    <link rel="stylesheet" href="/css/singlequestion.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!-- Link the codemirror -->
    <link rel="stylesheet" href="/codemirror-5.65.16/lib/codemirror.css">
    <script src="/codemirror-5.65.16/lib/codemirror.js"></script> 
    <!-- Link the clike  -->
    <script src="/codemirror-5.65.16/mode/clike/clike.js"></script> 
   <!-- Link the Theme -->
    <link rel="stylesheet" href="/codemirror-5.65.16/theme/dracula.css">
   <!-- Close brackets added -->
    <script src="/codemirror-5.65.16/addon/edit/closebrackets.js"></script> 
    <!-- python .js  -->
    <script src="/codemirror-5.65.16/mode/python/python.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>

<body>
     <!-- NAVBAR -->
     <nav class="navbar navbar-expand-lg" style="background-color: #9cd2e4;  "  >
      <div class="container-fluid">
        <a class="navbar-brand px-4" href="/home" style="font-weight: 700; color: #000; ">CodeMasteryZone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="dropdown pt-2">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               <%=username%>
              </button>
              <ul class="dropdown-menu" style="background: #f7f9fa;">
                <li class="nav-item" ><a class="nav-link bold py-3 px-3" href=""   style="color: black; font-weight: 600;">Profile</a>
                </li>
                <li class="nav-item"><a class="nav-link py-3 px-3" href=""   style="color:black; font-weight: 600;"> Leaderboard</a>
                </li>
                <li class="nav-item"><a class="nav-link py-3 px-3" href="#"   style="color:black; font-weight: 600;"> Log-out</a>
                </li>
                <li class="nav-item" ><a class="nav-link bold py-3 px-3" href="/aboutUs"   style="color: black; font-weight: 600;">About us</a>
                </li>
                <li class="nav-item"><a class="nav-link py-3 px-3" href="/contactUs"   style="color:black; font-weight: 600;">Contact Us</a>
                </li>
                <li class="nav-item"><a class="nav-link py-3 px-3" href="#"   style="color:black; font-weight: 600;">FAQs</a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </nav>
  <div id="table-container">  
  <div id="first-col">
  </div>
    
<br>


    <div >
        <h1><%=questions._id%>. <%=questions.title%> </h1>
       <div class=" container d-inline-flex p-2  mx-4 ">
        <button class="btn btn-warning px-4 mx-5"><%=questions.difficulty%></button>
        <button class="btn btn-primary px-4 mx-2"><%=questions.topic%></button>
    </div>
    </div>

    <hr>
    <div class="description mt-4">
        <h2>Description:</h2>
        <div class="container mt-4 ">
        <pre   style="font-size:medium;"><%=questions.description%>
        </pre>
      </div>
    </div>
    <div>
        <h4>Example:</h4>
        <div class="container">
        <pre style="font-size: medium;" ><strong style="font-weight: bold;">Input: </strong> <%= questions.Input%>
<strong style="font-weight:bold;"><br>Output: </strong><%= questions.Output%>
          </pre>
        </div>
        </div>
      </div>

  <div class="description mt-4">
    <h4>Note Points :</h4>
    <div class="container mt-4 ">
    <pre   style="font-size:medium; color: #50fa7b; background-color: #303241;"><strong ></strong><%=questions.notePoint%>
    </pre>
  </div>
</div>
      <hr>
<br><br>

<!-- Code Editor -->
<div class="row m-3">
  <div class="col ">
    <div class="d-flex justify-content-between mb-2 bg-dark rounded p-2">
      <div class="col-auto w-25">
          <label class="visually-hidden" for="autoSizingSelect">Preference</label>
          <select class="form-select" id="autoSizingSelect">
            <option selected>Choose...</option>
            <option value="Java">Java</option>
            <option value="C++">C++</option>
            <option value="Python">Python</option>
          </select>
        </div>
        <div>
          <!-- <button type="button" class="btn btn-success">Success</button> -->
          <button  class="btn btn-success" id="check" >CHECK</button>
          <button type="button" id="run" class="btn btn-success"><i class="bi bi-play-fill"></i></button>
        </div>
    </div>  
    <textarea type="text" class="form-control" id="editor" aria-label="First name"></textarea>
  </div>
  <!-- Input Output fields -->
  <div class="col d-flex flex-column rounded bg-dark px-4">
     <div class="h-50">
      <label for="Input" class="text-light mt-4 mb-2">Input</label>
      <textarea type="text" id="input" class="form-control h-75" aria-label="Last name"><%=questions.testCases[0].input%>
      </textarea>
     </div>
     <div class="h-50">
      <label for="Output" class="text-light mb-2">Output</label>
      <textarea type="text" id="output" class="form-control h-75" aria-label="Last name"></textarea>
     </div>
  </div>
</div>



    </div><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </body>
  
   <!-- Your existing scri pt for initializing CodeMirror -->
   <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        mode: "text/x-c++src",
        theme: "dracula",
        lineNumbers: true,
        autoCloseBrackets: true,
    });
  // Set CodeMirror editor size
    var width = window.innerWidth;
    editor.setSize(0.7 * width, "500");

     // Highlighting for each languages.
     var option = document.getElementById("autoSizingSelect");
      option.addEventListener("change",function(){
      if(option.value == "Java"){
        editor.setOption("mode","text/x-java");
      }
      else if(option.value == "Python"){
        editor.setOption("mode","text/x-python");
      }
      else if(option.value == "C++"){
        editor.setOption("mode","text/x-c++src");
      }
      });

// Highlighting for each languages.
    var option = document.getElementById("autoSizingSelect");
      option.addEventListener("change",function(){
      if(option.value == "Java"){
        editor.setOption("mode","text/x-java");
      }
      else if(option.value == "Python"){
        editor.setOption("mode","text/x-python");
      }
      else if(option.value == "C++"){
        editor.setOption("mode","text/x-c++src");
      }
      });
 // Run code button functionality
 var code;
   var input = document.getElementById("input");
   var output = document.getElementById("output");
   var run = document.getElementById("run");
   run.addEventListener("click", async function(){
      console.log("Run button clicked");
     code = { code:editor.getValue(),
       input:input.value,
       lang:option.value
     }
      var oData= await fetch("http://localhost:3001/questions/<%=questions._id%>/compile",{
        method:"POST",
            headers:{
                "content-type":"application/json"
            },
            body:JSON.stringify(code)
          });
          let d = await oData.json();
          output.value = d.output;
        })
   
    var check = document.getElementById("check");
    check.addEventListener("click", async function(){
      console.log("check button clicked");
     code = { code:editor.getValue(),
       input:input.value,
       lang:option.value
     }
      var oData= await fetch("http://localhost:3001/questions/<%=questions._id%>/check",{
        method:"POST",
            headers:{
                "content-type":"application/json"
            },
            body:JSON.stringify(code)
          });
          let d = await oData.json();
          output.value = d.output;
        })




     
    
</script>
</html>

