<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice Question Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/project_CSS.css">
    <link rel="stylesheet" href="css/try.css">

    <%- include('partials/navbar_css') %>

  </head>
  <body>
      
    <%- include('partials/navbar') %>

    <div id="filter"> 
        <h3>DIFFICULTY</h3>
        <label class="container">Easy
        <input type="radio" name="difficulty" value="Easy">
        <span class="checkmark"></span>
        </label>
        <label class="container">Medium
        <input type="radio" name="difficulty" value="Medium">
        <span class="checkmark"></span>
        </label>
        <label class="container">Hard
        <input type="radio" name="difficulty" value="Hard">
        <span class="checkmark"></span>
        </label>
        <br>
        <br>
        <h3>TOPICS</h3>
        <label class="container">Array
        <input type="radio" name="topic" value="Array">
        <span class="checkmark"></span>
        </label>
        <label class="container">String
        <input type="radio" name="topic" value="String">
        <span class="checkmark"></span>
        </label>
        <label class="container">Linked List
        <input type="radio" name="topic" value="linkedList">
        <span class="checkmark"></span>
        </label>
        <label class="container">Stack
        <input type="radio" name="topic" value="Stack">
        <span class="checkmark"></span>
        </label>
        <label class="container">Binary Search
        <input type="radio" name="topic" value="Binary Search">
        <span class="checkmark"></span>
        </label>
        <label class="container">Sorting
        <input type="radio" name="topic" value="Sorting">
        <span class="checkmark"></span>
        </label>
       </div> 

           <!-- Add Question here -->
     <div id="quesTable">
      <table id="table_tag">
          <thead> <!-- Heading -->
            <tr>
                <th style="width: 45px;">S.N.</th>
                <th>Title</th>
                <th id="difficulty" style="width: 110px; ">Difficulty</th>
                <th id="topic" style="width: 180px; ">Topic</th> 
            </tr>
          </thead>

          <tbody>
            <% questions.forEach((question, index) => { %>
              <tr>
                <td class="td"><%= (currentPage  - 1) * 18 + index + 1 %></td>
                <td class="td"><a href="/questions/<%= question._id %>" style="text-decoration: none; color: black;"><%= question.title %></a></td>
                <td class="td" style="text-align: center;"><%= question.difficulty %></td>
                <td class="td" style="text-align: center;"><%= question.topic %></td>
              </tr>
            <% }); %>
          </tbody>
      </table>
     </div>

  <!-- Pagination -->
   <div aria-label="Page navigation example" style="position:relative;  left: 19%; top: 6vh;">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage - 1 %>">Previous</a></li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage + 1 %>">Next</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= totalPages %>">Last</a></li>
      <% } %>
    </ul>
  </div>

   <!-- Bootstrap script -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


   <script>
    // Add event listener to radio buttons
    document.querySelectorAll('input[type="radio"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
          const form = this.closest('div');
          formSubmit(form);
        });
    });
  
    // Function to fetch questions based on selected difficulty and topic
    function formSubmit(form) {
      const inputs = form.querySelectorAll('input[type="radio"]');
        let params = new URLSearchParams();
        
        inputs.forEach(function(input) {
            if (input.checked) {
                params.append(input.name, input.value);
            }
        });

        const url = `/questions?${params.toString()}`;
        window.location.href = url;

    }
  </script>
  </body>
</html>
