<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice Questions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="question.css">  -->
    <style>
      *{
        padding: 0px;
        margin: 0px;
      }

      /* The container */
      .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      /* Hide the browser's default radio button */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
      }

      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the radio button is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #2196f3;
      }

      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
      }
      body{
        background-color: #77b8ee96;
        height: 100vh; 
      }
      table{
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 20px;
        width: 100%;
      }
      tr{
        border: 1px solid black;
        height: 4vh;
      }
      th{
        background-color: rgba(141, 194, 244, 0.842);
        border: 1px solid black;
        font-size: large;
        text-align: center;
      }
      td{
        background-color: rgba(242, 224, 224, 0.619);
        border: 1px solid black;
        padding: 8px 20px;
        font-size: larger;
      }
      #filter{
        background-color: aquamarine;
        display: inline-block;
        padding: 5vh 50px;
        width: 280px; 
        height: calc(100vh - 50px);
        position: fixed;
        margin-top: 50px;
      }
      #quesTable{
           width: calc(100vw - 280px);
           float: right;
           margin-top: 50px;
      }
      nav{
        background-color: #333;
        color: #fff;
        padding-left: 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 50px;
        width: 100%;
      }
    </style>
  </head>
  <body>
      <nav>
        <h2>CodeMysteryZone</h2>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="float: right; margin-top: -40px; margin-right: 10px;">
          <%=username%>
        </button>
        
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <h3>Keshav Singh</h3>
          </div>
        </div>

      </nav>

    <div id="filter"> 
        <h3>DIFFICULTY</h3>
        <label class="container">Easy
           <input type="radio" name="difficulty" value="Easy">
           <span class="checkmark"></span>
        </label>
        <label class="container">Medium
        <input type="radio" name="difficulty" value="Medium">
        <span class="checkmark"></span>
        </label>
        <label class="container">Hard
        <input type="radio" name="difficulty" value="Hard">
        <span class="checkmark"></span>
        </label>
        <br> <br>

        <!-- Parameters for Topics -->
        <h3>TOPICS</h3>
        <label class="container">Array
            <input type="radio" name="topic" value="Array">
            <span class="checkmark"></span>
        </label>
        <label class="container">String
            <input type="radio" name="topic" value="String">
            <span class="checkmark"></span>
        </label>
        <label class="container">Linked List
            <input type="radio" name="topic" value="linkedList">
            <span class="checkmark"></span>
        </label>
        <label class="container">Stack
            <input type="radio" name="topic" value="Stack">
            <span class="checkmark"></span>
        </label>
        <label class="container">Binary Search
        <input type="radio" name="topic" value="Binary Search">
        <span class="checkmark"></span>
        </label>
        <label class="container">Sorting
        <input type="radio" name="topic" value="Sorting">
        <span class="checkmark"></span>
        </label>
       </div> 

           <!-- Add Question here -->
     <div id="quesTable">
      <table>
          <thead> <!-- Heading -->
            <tr>
                <th style="width: 1vw;">S.N.</th>
                <th>Title</th>
                <th id="difficulty" style="width: 7vw; ">Difficulty</th>
                <th id="topic" style="width: 7vw; ">Topic</th> 
                <th id="status" style="width: 7vw; ">Status</th> 
            </tr>
          </thead>
          <tbody>
            <% questions.forEach((question, index) => { %>
              <tr>
                <td><%= (currentPage  - 1) * 18 + index + 1 %></td>
                <td><a href="/questions/<%= question._id %>" style="text-decoration: none; " class="link-primary"><%= question.title %></a></td>
                <td><%= question.difficulty %></td>
                <td><%= question.topic %></td>
              </tr>
            <% }); %>
          </tbody>
      </table>
     </div>
  

     // Pagination 
   <nav aria-label="Page navigation example" >
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage - 1 %>">Previous</a></li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage + 1 %>">Next</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= totalPages %>">Last</a></li>
      <% } %>
    </ul>
  </nav> 

   <!-- Bootstrap script -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


   <script>
    // Add event listener to radio buttons
    document.querySelectorAll('input[type="radio"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
          const form = this.closest('div');
          formSubmit(form);
        });
    });
  
    // Function to fetch questions based on selected difficulty and topic
    function formSubmit(form) {
      const inputs = form.querySelectorAll('input[type="radio"]');
        let params = new URLSearchParams();
        
        inputs.forEach(function(input) {
            if (input.checked) {
                params.append(input.name, input.value);
            }
        });

        const url = `/questions?${params.toString()}`;
        window.location.href = url;

    }
  </script>
  </body>
</html>
