<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Questions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="css/question.css">
  


</head>
<body>

     <!-- NAVBAR -->
     <nav class="navbar navbar-expand-lg" style="background-color: #9cd2e4;  "  >
        <div class="container-fluid">
          <a class="navbar-brand px-4" href="/home" style="font-weight: 700; color: #000; ">CodeMasteryZone</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div  class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <div class="dropdown pt-2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%=username%>
                </button>
                <ul class="dropdown-menu">
                  <li class="nav-item" ><a class="nav-link bold py-3" href=""   style="color: black; font-weight: 600;">Profile</a>
                  </li>
                  <li class="nav-item"><a class="nav-link py-3" href=""   style="color:black; font-weight: 600;">Leaderboard</a>
                  </li>
                  <li class="nav-item"><a class="nav-link py-3" href="#"   style="color:black; font-weight: 600;">Log-out</a>
                  </li>
                  <li class="nav-item" ><a class="nav-link bold py-3" href="/aboutUs"   style="color: black; font-weight: 600;">About us</a>
                  </li>
                  <li class="nav-item"><a class="nav-link py-3" href="/contactUs"   style="color:black; font-weight: 600;">Contact Us</a>
                  </li>
                  <li class="nav-item"><a class="nav-link py-3" href="#"   style="color:black; font-weight: 600;">FAQs</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </nav>
    <div id="table-container">  
    <div id="first-col">
    </div>
      

    <!-- Parameters for difficulty -->
    <div id="difficultyForm" class="mb-3">
      <h1>DIFFICULTY</h1>
      <label class="container">Easy
          <input type="radio" name="difficulty" value="Easy">
          <span class="checkmark"></span>
      </label>
      <label class="container">Medium
          <input type="radio" name="difficulty" value="Medium">
          <span class="checkmark"></span>
      </label>
      <label class="container">Hard
          <input type="radio" name="difficulty" value="Hard">
          <span class="checkmark"></span>
      </label>
     
      <br><br><br>

  <!-- Parameters for Topics -->
      <h1>TOPICS</h1>
      <label class="container">Array
          <input type="radio" name="topic" value="Array">
          <span class="checkmark"></span>
      </label>
      <label class="container">String
          <input type="radio" name="topic" value="String">
          <span class="checkmark"></span>
      </label>
      <label class="container">Linked List
        <input type="radio" name="topic" value="Linked List">
        <span class="checkmark"></span>
    </label>
    <label class="container">Stack
      <input type="radio" name="topic" value="Stack">
      <span class="checkmark"></span>
      </label>
      <label class="container">Queue
      <input type="radio" name="topic" value="Queue">
      <span class="checkmark"></span>
      </label>
      <label class="container">Sorting
      <input type="radio" name="topic" value="Sorting">
      <span class="checkmark"></span>
      </label>
    </div>


    <!-- Add Question here -->
     <div id="quesTable">
      <table>
          <thead> <!-- Heading -->
            <tr>
                <th style="width: 1vw;">S.N.</th>
                <th>Title</th>
                <th id="difficulty" style="width: 7vw; ">Difficulty</th>
                <th id="topic" style="width: 7vw; ">Topic</th> 
                <th id="status" style="width: 7vw; ">Status</th> 
            </tr>
          </thead>

          <tbody>
            <% questions.forEach((question, index) => { %>
              <tr>
                <td><%= (currentPage  - 1) * 18 + index + 1 %></td>
                <td><a href="code_editor" class="link-primary"><%= question.title %></a></td>
                <td><%= question.difficulty %></td>
                <td><%= question.topic %></td> 
              </tr>
            <% }); %>
          </tbody>
      </table>
     </div>
  

  <!-- Pagination -->
   <nav aria-label="Page navigation example" >
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage - 1 %>">Previous</a></li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage + 1 %>">Next</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= totalPages %>">Last</a></li>
      <% } %>
    </ul>
  </nav>

   <!-- Bootstrap script -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


   <script>
    // Add event listener to radio buttons
    document.querySelectorAll('input[type="radio"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
          const form = this.closest('div');
          formSubmit(form);
        });
    });
  
    // Function to fetch questions based on selected difficulty and topic
    function formSubmit(form) {
      const inputs = form.querySelectorAll('input[type="radio"]');
        let params = new URLSearchParams();
        
        inputs.forEach(function(input) {
            if (input.checked) {
                params.append(input.name, input.value);
            }
        });

        const url = `/questions?${params.toString()}`;
        window.location.href = url;

    }
  </script>


  </body>
</html>









































<!-- Add Question here -->


  <!-- Pagination -->
 <!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage - 1 %>">Previous</a></li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item"><a class="page-link" href="/?page=<%= currentPage + 1 %>">Next</a></li>
        <li class="page-item"><a class="page-link" href="/?page=<%= totalPages %>">Last</a></li>
      <% } %>
    </ul>
  </nav>
</div>  -->
